.basketball-img {
    background-image: url("../img/uni.jpg");
}

.ball-img {
    background-image: url("../img/img.png");
}

.hero-img {
    padding: 0;
    height: 20vh;
    background-position: 50% 50%;
    background-size: cover;
}

.overcast {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

h2 {
    color: white;
    font-size: 60px;
    padding-top: 5vh;
}

.full-sized {
    text-align: center;
}